lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

current
devel
node_modules
npm-debug.log

vendor/redis/dump.rdb
vendor/redis/redis-*
vendor/redis/downloads/redis-*/*
vendor/redis/install/*
