body {
  background-image: url('');
}

#main-container {
  width:400px; height:185px; 
  padding:5px; 
  background-color: rgba(255,255,255,0.4);
  text-align:center
}

#identity, #message, #status {
  padding:2px;
}

#location-container {
  width:400px;
  padding:5px; 
  margin-top:10px;
  background-color: rgba(255,255,255,0.4);
  text-align:center;
}

#chat-container {
  margin-left: 50px;
  margin-bottom: 30px;
  text-align:left;
  
}

#chat-controls textarea {
  width: 200px;
  height: 2.5em;
  font-size:14px;
}

#chat-controls input[type=button] {
  font-size:14px;
}

#chat-message-container {
  overflow:auto;
  max-height:100%;
  background-color: #ccc;
  width: 250px;
  height: 150px;
}

#chat-messages {
  font-size:14px;
}

